/**
 * site web- REACT
 * @author: sylvana
 */

/* en fonction du nom de l'image, donner une couleur de fond différente */
.container {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
  margin-bottom: 1em;
}

.container > * {
  max-width: 600px;
  justify-content: center;
  padding: 0.5em;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.5);
  margin: 0.5em;
  transition: 0.2s;
  border-radius: 3px;
}

.container > *:hover {
  box-shadow: 0px 8px 20px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.card {
  max-height: 300px;
  max-width: 300px;
  border-radius: 10px;
}
