@import url("https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&family=Zeyada&display=swap");

h1 {
  font-family: "The Girl Next Door", cursive;
  /* font-family: 'Zeyada', cursive; */
  letter-spacing: 0.5em;
  font-weight: bold;
  /* max font pour que le txt ne soit pas coupé en 320px */
  font-size: 2.2em;
  overflow: auto;
}

.bienvenue {
  margin: 2em 1em 1em;
}
